.wrapper{
  margin: auto;
  width: 70%;
}

canvas {
  margin: auto;
}

}

.title {
  font-family:verdana;
  text-align: center;
}


h2 {
  font-family:verdana;
  text-align: center; 
}

h3 {
  font-family:verdana; 
  text-align:center;
}

p {
  text-align: left;
}

a {
text-decoration: none;
}